.photo{
    width: 20vw;
    border-radius: 1.5vw;
}
.num{
    width: 2vw;
    font-weight: 550;
    color: rgba(217, 27, 91);
    background-color: rgba(255, 255, 255, 0.452);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: solid 1px rgba(217, 27, 91);
    margin: 0.5vw;
}
.etape,
.container .info h4{
        font-size: 1.3vw;
        font-weight: 300;
        margin: 0.3vw;
}
.container .info h2{
        font-size: 2.2vw;
        color: rgba(217, 27, 91);
        font-weight: 600;
}
@media only screen and (max-width:768px){
    .photo{
        width: 25vw;
        border-radius: 1.5vw;
    }
    .num{
        width: 3vw;
        font-weight: 550;
        font-size: 1.5vw;
    }
    .etape,
    .container .info h4{
            font-size: 1.8vw;
            font-weight: 300;
            margin: 0.5vw;
    }
    .container .info h2{
            font-size: 2.5vw;
    }
}